<!DOCTYPE html>
<html lang="fr">
{% load static %}
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
             data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

                <ul class="nav nav-main">
                    <li {% if active == 1 %}class="nav-active"{% endif %}>
                        <a class="nav-link" href="/commercial/">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Réservations</span>
                        </a>
                    </li>

                    <li {% if active == 2 %}class="nav-active"{% endif %}>
                        <a class="nav-link" href="/commercial/clients/">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Clients</span>
                        </a>
                    </li>


                    {#                    <li class="nav-parent {% if active == 4 %}nav-expanded nav-active{% endif %}">#}
                    {#                        <a class="nav-link" href="/admin_bis/drivers/">#}
                    {#                            <i class="fa fa-user" aria-hidden="true"></i>#}
                    {#                            <span>Chauffeurs</span>#}
                    {#                        </a>#}
                    {#                        <ul class="nav nav-children">#}
                    {#                            <li {% if sub_active == 1 %}class="nav-active"{% endif %}>#}
                    {#                                <a class="nav-link" href="/admin_bis/drivers/">#}
                    {#                                    Gestion#}
                    {#                                </a>#}
                    {#                            </li>#}
                    {#                            <li {% if sub_active == 2 %}class="nav-active"{% endif %}>#}
                    {#                                <a class="nav-link" href="/admin_bis/drivers/stats/">#}
                    {#                                    Statistiques#}
                    {#                                </a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </ul>
            </nav>

            <hr class="separator"/>
            {##}
            {#            <div class="sidebar-widget widget-tasks">#}
            {#                <div class="widget-header">#}
            {#                    <h6>Projects</h6>#}
            {#                    <div class="widget-toggle">+</div>#}
            {#                </div>#}
            {#                <div class="widget-content">#}
            {#                    <ul class="list-unstyled m-0">#}
            {#                        <li><a href="#">Porto HTML5 Template</a></li>#}
            {#                        <li><a href="#">Tucson Template</a></li>#}
            {#                        <li><a href="#">Porto Admin</a></li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </div>#}

            <hr class="separator"/>

{#            <div class="sidebar-widget widget-stats">#}
{#                <div class="widget-header">#}
{#                    <h6>Types de réservations du mois</h6>#}
{#                    <div class="widget-toggle">+</div>#}
{#                </div>#}
{#                <div class="widget-content">#}
{#                    <ul>#}
{#                        <li>#}
{#                            <span class="stats-title">Clients</span>#}
{#                            <span class="stats-complete">90%</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar progress-bar-primary progress-without-number"#}
{#                                     role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"#}
{#                                     style="width: 85%;">#}
{#                                    <span class="sr-only">90% Complete</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="stats-title">Commerciales</span>#}
{#                            <span class="stats-complete">10%</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar progress-bar-primary progress-without-number"#}
{#                                     role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"#}
{#                                     style="width: 70%;">#}
{#                                    <span class="sr-only">10% Complete</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="stats-title">Partenaires</span>#}
{#                            <span class="stats-complete">0%</span>#}
{#                            <div class="progress">#}
{#                                <div class="progress-bar progress-bar-primary progress-without-number"#}
{#                                     role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"#}
{#                                     style="width: 2%;">#}
{#                                    <span class="sr-only">0% Complete</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>


    </div>

</aside>
<!-- end: sidebar -->

</html>