/*YOUR CUSTOM STYLES*/
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;

}

.modal-backdrop {
    z-index: 10;

}

.modal-header{
    background-color: #4d4d4d;
}

.modal-title{
    color: whitesmoke;
}

.modal-dialog{
    background-color: whitesmoke;
}