<!DOCTYPE HTML>
<html>

<head>
    <title>Aceline Services | A Propos</title>

    {% include 'client/head.html' %}
    {% load static %}


</head>

<body>

{% include 'client/facebook_widget.html' %}

<div class="global-wrap">
    {% include 'client/header.html' with active=2 %}

    <div class="container">
        <h1 class="page-title">Qui sommes nous ?</h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-bigger">Crée en 2014, Aceline Services a vu le jour suite aux nouvelles perspectives
                    offertes dans le transport des particuliers. A force de voir des voyageurs perdus, parce que non
                    guidés dans leurs démarches, ou mécontents à cause d’un manque d’organisation, nous avons décidé de
                    réagir en nous engageant à prendre en charge le déplacement des personnes venant à peine de poser un
                    pied en France. </p>
                <p class="text-bigger">Depuis, nous nous sommes efforcés de bâtir une solide expérience dans le domaine
                    du transport de passagers, afin d’assurer à nos clients le confort et la sécurité. </p>
                <p class="text-bigger">Cette expérience va de paire avec une recherche permanente en termes
                    d’innovations, qui nous permettent d’assurer un service de grande qualité, où réactivité et
                    fiabilité sont les maitres-mots.
                    Nous nous mettons au service du client, pour que son transport soit un véritable cocon, dans lequel
                    il puisse se concentrer sur sa détente ou ses activités, sans avoir à se préoccuper d’autre chose
                    que de lui-même.</p>
            </div>
        </div>
        <div class="gap"></div>
    </div>
    <div class="bg-holder">
        <div class="bg-parallax" style="background-image:url({% static "img/backgrounds/taxi.jpg" %});"></div>
        <div class="bg-mask"></div>
        <div class="bg-holder-content">
            <div class="container">
                <div class="gap gap-big text-white">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Optez pour la fiabilité avec un partenaire rassurant</h2>
                            <p class="text-bigger">Conscient sur l’avenir de ce cœur de métier, Aceline Services est
                                favorable à
                                toutes les mesures réglementaires prises dans leur objectif de professionnalisation.
                                Nous
                                accueillons avec bienvenue tout ce qui assure à nos clients une expérience idéale,
                                d’autant plus
                                indispensable que nous nous félicitons d’être exemplaires sur la qualité de nos
                                prestations. Notre
                                sérieux passe aussi par le développement d’un secteur encore jeune, qui ne manque pas
                                d’envie quant
                                à innover à tout moment et à perfectionner nos services en compétence et qualité. Nous
                                sommes fiers
                                de créer et d’offrir de nouveaux emplois, tout en proposant une réponse alternative aux
                                moyens de
                                transports usuels. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gap"></div>
        <h2>Une aventure qui trouve son origine au Maroct</h2>
        <div class="row">
            <div class="col-md-8">
                <p class="text-bigger">Comme point de départ à notre expansion, Aceline Services a choisi de
                    s’implanter en premier lieu au Maroc, car nous nous sommes rendu compte du manque de considération
                    que pouvait ressentir toute personne prise en charge à son arrivée en France. Ainsi nous avons
                    investit les aéroports marocains tels que Casablanca, Agadir, Rabat, Tanger ou Marrakech, pour
                    devenir un partenaire de choix. Sorte de trait d’union entre le Maroc et la France, nous nous
                    assurons que le relai se fasse entre les deux pays, pour que chacun soit accompagné tout au long du
                    voyage, jusqu’à sa résidence ou son hôtel. Depuis, nous aspirons à pouvoir offrir prochainement le
                    même genre d’assistance dans l’ensemble des pays du Maghreb… et pourquoi pas dans le reste du monde
                    ? </p>
            </div>
        </div>
        <div class="gap"></div>
        <h2>Nos objectifs</h2>
        <div class="row">
            <div class="col-md-10">
                {#                <p class="text-bigger mb30">Auctor sit parturient aenean sodales maecenas fusce potenti tristique lectus#}
                {#                    dapibus hendrerit habitant tristique vulputate vehicula quisque nisl curabitur varius enim quam#}
                {#                    maecenas facilisis inceptos auctor gravida massa facilisis risus</p>#}
                <ul class="list list-horizontal list-space">
                    <li>Une offre de prestations sur-mesure pour correspondre au plus proche des attentes de nos
                        clients
                    </li>
                    <li>Une exigence de tous les instants, où qualités et professionnalisme se lient pour offrir une
                        expérience optimale dans le transport de personne
                    </li>
                    <li>Une recherche d’innovations et la volonté de toujours se développer afin de perfectionner notre
                        chartre de qualités
                    </li>
                    <li>Une optimisation dans les tarifs, ainsi que dans les délais de transport et le confort du
                        véhicule
                    </li>
                    <li>Une sécurité irréprochable et un accompagnement de tous les instants, de l’accueil de nos
                        clients jusqu’à leur arrivée devant leur résidence ou leur hôtel
                    </li>
                    <li>Un service simple, sans aucun délai d’attente puisque tout se fait instantanément.</li>
                </ul>
            </div>
        </div>
        {#        <div class="row row-wrap" data-gutter="60">#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="AMaze"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">Joseph Hudson</h5>#}
        {#                        <p class="thumb-meta text-small">Project Manager</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="Chiara"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">Leah Kerr</h5>#}
        {#                        <p class="thumb-meta text-small">Product Designer</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="Bubbles"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">Cheryl Gustin</h5>#}
        {#                        <p class="thumb-meta text-small">Producer</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="Gamer Chick"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">Sarah Slater</h5>#}
        {#                        <p class="thumb-meta text-small">CEO</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="Afro"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">Oliver Ross</h5>#}
        {#                        <p class="thumb-meta text-small">Office Manager</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="Me with the Uke"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">John Mathis</h5>#}
        {#                        <p class="thumb-meta text-small">Product Designer</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="Andrea"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">Neil Davidson</h5>#}
        {#                        <p class="thumb-meta text-small">Project Manager</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-md-3">#}
        {#                <div class="thumb text-center">#}
        {#                    <header class="thumb-header">#}
        {#                        <img class="round" src="{% static "img/300x300.png" %}" alt="Image Alternative text"#}
        {#                             title="Spidy"/>#}
        {#                    </header>#}
        {#                    <div class="thumb-caption">#}
        {#                        <h5 class="thumb-title">Oliver Ross</h5>#}
        {#                        <p class="thumb-meta text-small">Office Manager</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <h4>Want to Join Our Team</h4>#}
        {#        <div class="row">#}
        {#            <div class="col-md-10">#}
        {#                <p>Nascetur metus morbi nibh magnis semper elit proin vivamus hac vivamus ultricies hac nulla sodales#}
        {#                    himenaeos luctus nascetur lacus sed placerat penatibus sociosqu lectus semper tincidunt pellentesque#}
        {#                    volutpat egestas porttitor</p>#}
        {#                <a href="#">Explore open positions</a>#}
        {#            </div>#}
        {#        </div>#}
        <div class="gap"></div>
        {#        <h2 class="mb20">Behing the Scenes</h2>#}
    </div>
    {#    <div class="row row-no-gutter">#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text" title="The Big Showoff-Take 2"/>#}
    {#        </div>#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text" title="Gaviota en el Top"/>#}
    {#        </div>#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text" title="Street"/>#}
    {#        </div>#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text" title="Playstation controller"/>#}
    {#        </div>#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text"#}
    {#                 title="Branding  iPad Interactive Design"/>#}
    {#        </div>#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text" title="Old No7"/>#}
    {#        </div>#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text" title="Going out tonight"/>#}
    {#        </div>#}
    {#        <div class="col-md-3">#}
    {#            <img src="{% static "img/800x600.png" %}" alt="Image Alternative text" title="me"/>#}
    {#        </div>#}
    {#    </div>#}
    <div class="container">
    </div>

    {% include 'client/footer.html' %}

    {% include 'client/scriptLoading.html' %}
</div>
</body>

</html>


