<!DOCTYPE HTML>
<html>

<head>
    <title>AcelineServices | Réservation</title>


    {% include 'client/head.html' %}
</head>

<body>

{% include 'client/facebook_widget.html' %}

<div class="global-wrap">
    {% include 'client/header.html' with active=14 %}

    <div class="container">
        <h1 class="page-title">Réservation</h1>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>


    <div class="container">
        <form action="/create/" method="post">
            <div class="col-md-6">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <div class="gap"></div>
                <input type="submit" value="Réserver"/>
            </div>
        </form>
    </div>

    <div class="gap"></div>
    {% include 'client/footer.html' %}
    {% include 'client/scriptLoading.html' %}

</div>
</body>

</html>


