<!DOCTYPE html>
{% load static %}
<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-3">
                <a class="logo" href="index.html">
                    <img src="{% static "img/logo.png" %}" alt="Image Alternative text" title="Image Title"/>
                </a>
                <h4>Aceline Services.</h4>
                <p class="mb20">Réservation de voiture en toute simplicité.</p>
{#                <p class="mb20">Vous Transportez, Notre Passion</p>#}
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
{#                <h4>Newsletter</h4>#}
{#                <form>#}
{#                    <label>Enter your E-mail Address</label>#}
{#                    <input type="text" class="form-control">#}
{#                    <p class="mt5">#}
{#                        <small>*We Never Send Spam</small>#}
{#                    </p>#}
{#                    <input type="submit" class="btn btn-primary" value="Subscribe">#}
{#                </form>#}
            </div>
            <div class="col-md-2">
                <ul class="list list-footer">
                    <li><a href="/home">Acceuil</a>
                    </li>
                    <li><a href="/about">A Propos</a>
                    </li>
                    <li><a href="/prices">Tarifs</a>
                    </li>
                    <li><a href="/bookings">Réservations</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
{#                    <li><a href="#">Press Centre</a>#}
{#                    </li>#}
{#                    <li><a href="#">Best Price Guarantee</a>#}
{#                    </li>#}
{#                    <li><a href="#">Travel News</a>#}
{#                    </li>#}
{#                    <li><a href="#">Jobs</a>#}
{#                    </li>#}
{#                    <li><a href="#">Privacy Policy</a>#}
{#                    </li>#}
{#                    <li><a href="#">Terms of Use</a>#}
{#                    </li>#}
{#                    <li><a href="#">Feedback</a>#}
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Question ?</h4>
                <h5  class="text-color">+33(0)6 26 51 51 36</h5>
                <h5><a href="mailto:	info@acelineservieces.fr" class="text-color">info@acelineservieces.fr</a></h5>
{#                <h6><a href="https://www.google.com/maps/place/17+Rue+de+Belfort,+92110+Clichy" class="text-color">17 Rue Belfort, 92110 Clichy CEDEX</a></h6>#}
                <p>Réservation 24H/24 7J/7</p>
            </div>

        </div>
    </div>
</footer>
</html>