<!DOCTYPE html>
{% load static %}
<header id="main-header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" href="/">
                        <img src="{% static "img/logo.png" %}" alt="Aceline Services"
                             title="Image Title"/>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            {% if user.is_authenticated %}
                                <li class="top-user-area-avatar">
                                    <a href="/user">
                                        <img class="origin round" src="{% static "img/40x40.png" %}"
                                             alt="Image Alternative text" title="AMaze"/>Bienvenue {{ user.username }}</a>
                                </li>
                                <li><a href="/user/logout/">Déconnexion</a></li>
                            {% else %}
                                <li class="top-user-area-avatar">
                                    <a href="/register">S'inscrire</a>
                                </li>
                                <li><a href="/login">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="nav">
            <ul class="slimmenu" id="slimmenu">
                <li {% if active == 1 %} class="active" {% endif %}><a href="/">Accueil</a></li>
                <li {% if active == 2 %} class="active" {% endif %}><a href="/about">A propos</a></li>
                <li {% if active == 3 %} class="active" {% endif %}><a href="/prices">Tarifs</a></li>
                <li {% if active == 5 %} class="active" {% endif %}><a href="/contact">Contact</a></li>
                <li {% if active == 6 %} class="active" {% endif %}><a href="/pro">Espace Pro</a></li>
            </ul>
        </div>
    </div>
</header>
</html>