<!DOCTYPE HTML>
<html>

<head>
    <title>BlackLine Services | Acceuil </title>

    {% include 'client/head.html' %}
    {% load static %}

</head>

<body>

{% include 'client/facebook_widget.html' %}

<div class="global-wrap">
    {% include 'client/header.html' with active=1 %}

    <!-- TOP AREA -->
    <div class="top-area show-onload">
        <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/marseille.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+25</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Marseille</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2600</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/paris.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+22</span><i class="im im-rain"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Paris</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2000</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/lyon.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+31</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Lyon</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2800</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/toulouse.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+31</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Toulouse</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2800</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>

            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/bordeaux.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+31</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Bordeaux</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2800</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP AREA  -->


<div class="container">
    <div class="search-tabs search-tabs-bg search-tabs-nobox search-tabs-lift-top">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                {#                        <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span >Hotels</span></a>#}
                {#                        </li>#}
                {#                        <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-plane"></i> <span >Flights</span></a>#}
                {#                        </li>#}
                {#                        <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-home"></i> <span >Rentals</span></a>#}
                {#                        </li>#}
                <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-car"></i>
                    <span>Cars</span></a>
                </li>
                {#                        <li><a href="#tab-5" data-toggle="tab"><i class="fa fa-bolt"></i> <span >Activities</span></a>#}
                {#                        </li>#}
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    <h2>Search for Cheap Rental Cars</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-left"><i
                                                class="fa fa-map-marker input-icon"></i>
                                            <label>Pick-up Location</label>
                                            <input class="typeahead form-control"
                                                   placeholder="City, Airport, U.S. Zip" type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-left"><i
                                                class="fa fa-map-marker input-icon"></i>
                                            <label>Drop-off Location</label>
                                            <input class="typeahead form-control"
                                                   placeholder="City, Airport, U.S. Zip" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-daterange" data-date-format="M d, D">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-lg form-group-icon-left"><i
                                                    class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>Pick-up Date</label>
                                                <input class="form-control" name="start" type="text"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-lg form-group-icon-left"><i
                                                    class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>Drop-ff Date</label>
                                                <input class="form-control" name="end" type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">Search for Rental Cars</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>
<div class="bg-holder">
    <div class="bg-mask"></div>
    <div class="bg-parallax" style="background-image:url({% static "img/backgrounds/taxi.jpg" %});"></div>
    <div class="bg-content">
        <div class="container">
            <div class="gap gap-big text-center text-white">
                <h2 class="text-uc mb20">Last Minute Deal</h2>
                <ul class="icon-list list-inline-block mb0 last-minute-rating">
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                </ul>
                <h5 class="last-minute-title">The Peninsula - New York</h5>
                <p class="last-minute-date">Fri 14 Mar - Sun 16 Mar</p>
                <p class="mb20"><b>$120</b> / person</p><a class="btn btn-lg btn-white btn-ghost" href="#">Book Now
                <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="gap"></div>
    <div class="row row-wrap" data-gutter="60">
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-thumbs-o-up box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Best Travel Agent</h5>
                    <p class="thumb-desc">Pharetra elit fusce vivamus elementum mauris luctus</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-dollar box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Best Price Guarantee</h5>
                    <p class="thumb-desc">Pellentesque luctus penatibus risus accumsan purus cum</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-send box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Best Destinations</h5>
                    <p class="thumb-desc">Fusce enim tellus vehicula purus commodo donec</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-briefcase box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Combine & Save</h5>
                    <p class="thumb-desc">Metus commodo rhoncus nisi sollicitudin volutpat viverra</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>

    {% include 'client/footer.html' %}

    {% include 'client/scriptLoading.html' %}
</div>
</body>

</html>


