<!DOCTYPE HTML>
<html>

<head>
    <title>BlackLine Services | Acceuil </title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest"/>
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet'
          type='text/css'>
    {% load static %}
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/icomoon.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">
    <script src="{% static "js/modernizr.js" %}"></script>


</head>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="index.html">
                            <img src="{% static "img/logo-invert.png" %}" alt="Image Alternative text"
                                 title="Image Title"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <form class="main-header-search">
                            <div class="form-group form-group-icon-left">
                                <i class="fa fa-search input-icon"></i>
                                <input type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                    <a href="user-profile.html">
                                        <img class="origin round" src="{% static "img/40x40.png" %}"
                                             alt="Image Alternative text" title="AMaze"/>Hi, John</a>
                                </li>
                                <li><a href="#">Sign Out</a>
                                </li>
                                <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i
                                        class="fa fa-angle-up"></i></a>
                                    <ul class="list nav-drop-menu">
                                        <li><a href="#">EUR<span class="right">€</span></a>
                                        </li>
                                        <li><a href="#">GBP<span class="right">£</span></a>
                                        </li>
                                        <li><a href="#">JPY<span class="right">円</span></a>
                                        </li>
                                        <li><a href="#">CAD<span class="right">$</span></a>
                                        </li>
                                        <li><a href="#">AUD<span class="right">A$</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="top-user-area-lang nav-drop">
                                    <a href="#">
                                        <img src="{% static "img/flags/32/uk.png" %}" alt="Image Alternative text"
                                             title="Image Title"/>ENG<i class="fa fa-angle-down"></i><i
                                            class="fa fa-angle-up"></i>
                                    </a>
                                    <ul class="list nav-drop-menu">
                                        <li>
                                            <a title="German" href="#">
                                                <img src="{% static "img/flags/32/de.png" %}"
                                                     alt="Image Alternative text" title="Image Title"/><span
                                                    class="right">GER</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Japanise" href="#">
                                                <img src="{% static "img/flags/32/jp.png" %}"
                                                     alt="Image Alternative text" title="Image Title"/><span
                                                    class="right">JAP</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Italian" href="#">
                                                <img src="{% static "img/flags/32/it.png" %}"
                                                     alt="Image Alternative text" title="Image Title"/><span
                                                    class="right">ITA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="French" href="#">
                                                <img src="{% static "img/flags/32/fr.png" %}"
                                                     alt="Image Alternative text" title="Image Title"/><span
                                                    class="right">FRE</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Russian" href="#">
                                                <img src="{% static "img/flags/32/ru.png" %}"
                                                     alt="Image Alternative text" title="Image Title"/><span
                                                    class="right">RUS</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Korean" href="#">
                                                <img src="{% static "img/flags/32/kr.png" %}"
                                                     alt="Image Alternative text" title="Image Title"/><span
                                                    class="right">KOR</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="nav">
                <ul class="slimmenu" id="slimmenu">
                    <li class="active"><a href="/">Accueil</a></li>
                    <li><a href="/about">A propos</a></li>
                    <li><a href="feature-typography.html">Villes</a></li>
                    <li><a href="hotels.html">Tarifs</a></li>
                    <li><a href="flights.html">Réservation</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- TOP AREA -->
    <div class="top-area show-onload">
        <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/marseille.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+25</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Marseille</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2600</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/paris.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+22</span><i class="im im-rain"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Paris</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2000</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/lyon.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+31</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Lyon</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2800</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/toulouse.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+31</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Toulouse</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2800</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>

            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/bordeaux.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        <div class="owl-cap-weather"><span>+31</span><i class="im im-cloudy"></i>
                        </div>
                        <h1 class="owl-cap-title fittext">Bordeaux</h1>
                        <div class="owl-cap-price">
                            <small>from</small>
                            <h5>$2800</h5>
                        </div>
                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP AREA  -->


<div class="container">
    <div class="search-tabs search-tabs-bg search-tabs-nobox search-tabs-lift-top">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                {#                        <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span >Hotels</span></a>#}
                {#                        </li>#}
                {#                        <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-plane"></i> <span >Flights</span></a>#}
                {#                        </li>#}
                {#                        <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-home"></i> <span >Rentals</span></a>#}
                {#                        </li>#}
                <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-car"></i>
                    <span>Cars</span></a>
                </li>
                {#                        <li><a href="#tab-5" data-toggle="tab"><i class="fa fa-bolt"></i> <span >Activities</span></a>#}
                {#                        </li>#}
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    <h2>Search for Cheap Rental Cars</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-left"><i
                                                class="fa fa-map-marker input-icon"></i>
                                            <label>Pick-up Location</label>
                                            <input class="typeahead form-control"
                                                   placeholder="City, Airport, U.S. Zip" type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-left"><i
                                                class="fa fa-map-marker input-icon"></i>
                                            <label>Drop-off Location</label>
                                            <input class="typeahead form-control"
                                                   placeholder="City, Airport, U.S. Zip" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-daterange" data-date-format="M d, D">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-lg form-group-icon-left"><i
                                                    class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>Pick-up Date</label>
                                                <input class="form-control" name="start" type="text"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-lg form-group-icon-left"><i
                                                    class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>Drop-ff Date</label>
                                                <input class="form-control" name="end" type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">Search for Rental Cars</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>
<div class="bg-holder">
    <div class="bg-mask"></div>
    <div class="bg-parallax" style="background-image:url({% static "img/backgrounds/taxi.jpg" %});"></div>
    <div class="bg-content">
        <div class="container">
            <div class="gap gap-big text-center text-white">
                <h2 class="text-uc mb20">Last Minute Deal</h2>
                <ul class="icon-list list-inline-block mb0 last-minute-rating">
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                    <li><i class="fa fa-star"></i>
                    </li>
                </ul>
                <h5 class="last-minute-title">The Peninsula - New York</h5>
                <p class="last-minute-date">Fri 14 Mar - Sun 16 Mar</p>
                <p class="mb20"><b>$120</b> / person</p><a class="btn btn-lg btn-white btn-ghost" href="#">Book Now
                <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="gap"></div>
    <div class="row row-wrap" data-gutter="60">
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-thumbs-o-up box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Best Travel Agent</h5>
                    <p class="thumb-desc">Pharetra elit fusce vivamus elementum mauris luctus</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-dollar box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Best Price Guarantee</h5>
                    <p class="thumb-desc">Pellentesque luctus penatibus risus accumsan purus cum</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-send box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Best Destinations</h5>
                    <p class="thumb-desc">Fusce enim tellus vehicula purus commodo donec</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-briefcase box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Combine & Save</h5>
                    <p class="thumb-desc">Metus commodo rhoncus nisi sollicitudin volutpat viverra</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>


<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-3">
                <a class="logo" href="index.html">
                    <img src="{% static "img/logo.png" %}" alt="Image Alternative text" title="Image Title"/>
                </a>
                <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel
                    packages, and lots more!</p>
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Newsletter</h4>
                <form>
                    <label>Enter your E-mail Address</label>
                    <input type="text" class="form-control">
                    <p class="mt5">
                        <small>*We Never Send Spam</small>
                    </p>
                    <input type="submit" class="btn btn-primary" value="Subscribe">
                </form>
            </div>
            <div class="col-md-2">
                <ul class="list list-footer">
                    <li><a href="/about">About US</a>
                    </li>
                    <li><a href="#">Press Centre</a>
                    </li>
                    <li><a href="#">Best Price Guarantee</a>
                    </li>
                    <li><a href="#">Travel News</a>
                    </li>
                    <li><a href="#">Jobs</a>
                    </li>
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                    <li><a href="#">Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Have Questions?</h4>
                <h4 class="text-color">+1-202-555-0173</h4>
                <h4><a href="#" class="text-color">support@traveler.com</a></h4>
                <p>24/7 Dedicated Customer Support</p>
            </div>

        </div>
    </div>
</footer>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/slimmenu.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/bootstrap-timepicker.js" %}"></script>
<script src="{% static "js/nicescroll.js" %}"></script>
<script src="{% static "js/dropit.js" %}"></script>
<script src="{% static "js/ionrangeslider.js" %}"></script>
<script src="{% static "js/icheck.js" %}"></script>
<script src="{% static "js/fotorama.js" %}"></script>
{#        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXfBFzhg0-fVZcIno2kX-ZBSbqibk_-RE&v=3.exp&sensor=false"></script>#}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXfBFzhg0-fVZcIno2kX-ZBSbqibk_-RE"></script>
<script src="{% static "js/typeahead.js" %}"></script>
<script src="{% static "js/card-payment.js" %}"></script>
<script src="{% static "js/magnific.js" %}"></script>
<script src="{% static "js/owl-carousel.js" %}"></script>
<script src="{% static "js/fitvids.js" %}"></script>
<script src="{% static "js/tweet.js" %}"></script>
<script src="{% static "js/countdown.js" %}"></script>
<script src="{% static "js/gridrotator.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
</div>
</body>

</html>


