<!DOCTYPE HTML>
<html lang="fr">

<head>
    <title>Aceline Services | Acceuil </title>

    {% include 'client/head.html' %}
    {% load static %}

</head>

<body>

{% include 'client/facebook_widget.html' %}

<div class="global-wrap">
    {% include 'client/header.html' with active=1 %}

    <!-- TOP AREA -->
    <div class="top-area show-onload">
        <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/index1.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        {#                        <div class="owl-cap"><span>Plus de 100</span><i class="im im-car-doors"></i>#}
                        {#                        </div>#}
                        <h1 class="owl-cap-title fittext">Chauffeurs Pro</h1>
                        <div class="owl-cap-price">
                            <small>Dans plus de</small>
                            <h5>20 villes</h5>
                        </div>
                        {#                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>#}
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/index2.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        {#                        <div class="owl-cap"><span>Plus de 100</span><i class="im im-car-doors"></i>#}
                        {#                        </div>#}
                        <h1 class="owl-cap-title fittext">Accompagné</h1>
                        <div class="owl-cap-price">
                            <small>Prise en charge directement depuis</small>
                            <h5>L'Aéroport</h5>
                        </div>
                        {#                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>#}
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/index3.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        {#                        <div class="owl-cap"><span>Plus de 100</span><i class="im im-car-doors"></i>#}
                        {#                        </div>#}
                        <h1 class="owl-cap-title fittext">Grand choix</h1>
                        <div class="owl-cap-price">
                            <small>Plus de 10 types de</small>
                            <h5>Véhicules</h5>
                        </div>
                        {#                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>#}
                    </div>
                </div>
            </div>
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url({% static "img/backgrounds/index4.jpg" %});"></div>
                <div class="bg-front full-center">
                    <div class="owl-cap">
                        {#                        <div class="owl-cap"><span>Plus de 100</span><i class="im im-car-doors"></i>#}
                        {#                        </div>#}
                        <h1 class="owl-cap-title fittext">Disponible</h1>
                        <div class="owl-cap-price">
                            <small>Joingnable</small>
                            <h5>24h/24h</h5>
                        </div>
                        {#                        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Réserver</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP AREA  -->

<script>
    function validateForm() {


        var arrive = document.forms["booking-form"]["destination"].value;
        if (arrive === "") {
            alert("Une destination doit être choisi.");
            return false;
        }

        var date = document.forms["booking-form"]["date"].value;
        if (date === "") {
            alert("Une date d'arrivée doit être choisi.");
            return false;
        }

        var time = document.forms["booking-form"]["time"].value;
        if (time === "") {
            alert("Une heure d'arrivée doit être choisi.");
            return false;
        }

        if (Date.parse(time) < new Date().getTime()) {
            alert("L'heure d'arrivée ne peut pas être inférieure à l'instant présent");
            return false;
        }

        var flight = document.forms["booking-form"]["flight"].value
        if (flight === "") {
            alert("Un vol doit être indiqué");
            return false;
        }


    }
</script>

<div class="container">
    <div class="search-tabs search-tabs-bg search-tabs-nobox search-tabs-lift-top">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-car"></i>
                    <span>Réservation</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    <h2>Départ - Destination</h2>
                    <form name="booking-form" onsubmit="return validateForm()" method="post"
                          action="booking/create/">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-right"><i
                                                class="fa fa-map-marker input-icon"></i>
                                            <label>Départ</label>
                                            {#                                            <input class="typeahead form-control" name="start"#}
                                            {#                                                   placeholder="Aéroport" type="text"/>#}
                                            <select class="format-option form-control" name="airport">
                                                {% for airport in Airports %}
                                                    <option value="{{ airport.id }}">{{ airport.address }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-right"><i
                                                class="fa fa-map-marker input-icon"></i>
                                            <label>Destination</label>
                                            <input id="arrive_adress" class="form-control" name="destination"
                                                   placeholder="Adresse, Ville, Lieux" type="text"/>
                                            <input class="hidden" name="destination_location" type="text"
                                                   id="destination_location"/>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <input class="hidden" id="arrive_time" name="arrive_time"/>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-lg form-group-icon-right"><i
                                                class="fa fa-calendar input-icon input-icon-highlight"></i>
                                            <label>Date d'arrivée</label>
                                            <input class="form-control" name="date" type="date" id="datetimepicker1" placeholder="2017-12-15"/>
                                            {#                                            <input class="date-pick form-control" name="date" type="text"/>#}
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group form-group-lg form-group-icon-right"><i
                                                class="fa fa-clock-o input-icon input-icon-highlight"></i>
                                            <label>Heure</label>
                                            <input class="time-pick form-control" type="text" name="time" id="time"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                                            <i class="fa fa-car input-icon"></i>
                                            <label>Modèle</label>
                                            <select class="form-control format-option" name="model_choose">
                                                {% for car in cars %}
                                                    <option value="{{ car.id }}">{{ car }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                                            <i class="fa fa-users input-icon input-icon-highlight"></i>
                                            <label>Passagers</label>
                                            <select class="form-control format-option" name="passengers">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                                            <i class="fa fa-suitcase input-icon input-icon-highlight"></i>
                                            <label>Baggages</label>
                                            <select class="form-control format-option" name="luggage_number">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                                            <i class="fa fa-plane input-icon input-icon-highlight"></i>
                                            <label>Vol</label>
                                            <input class="form-control" type="text" name="flight"/>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">Réserver une voiture</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>
<div class="bg-holder">
    <div class="bg-mask"></div>
    {#    <div class="bg-parallax" style="background-image:url({% static "img/backgrounds/taxi.jpg" %});"></div>#}
    <div class="bg-parallax" style="background-image:url({% static "img/header.jpg" %});"></div>
    <div class="bg-content">
        <div class="container">
            <div class="gap gap-big text-center text-white">
                <h2 class="text-uc mb20">Aceline Services</h2>
                {#                <ul class="icon-list list-inline-block mb0 last-minute-rating">#}
                {#                    <li><i class="fa fa-star"></i>#}
                {#                    </li>#}
                {#                    <li><i class="fa fa-star"></i>#}
                {#                    </li>#}
                {#                    <li><i class="fa fa-star"></i>#}
                {#                    </li>#}
                {#                    <li><i class="fa fa-star"></i>#}
                {#                    </li>#}
                {#                    <li><i class="fa fa-star"></i>#}
                {#                    </li>#}
                {#                </ul>#}
                <h5 class="last-minute-title">Qualité de service professionelle</h5>
                <p class="last-minute-date">Réservation disponible</p>
                <p class="mb20">A partir de <b>10€</b></p>
                {#                <a class="btn btn-lg btn-white btn-ghost" href="/booking/">Réserver maintenant#}
                {#                    <i class="fa fa-angle-right"></i></a>#}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="gap"></div>
    <div class="row row-wrap" data-gutter="60">
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-thumbs-o-up box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Qualité</h5>
                    <p class="thumb-desc">Qualité de service et professionnalismes</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-dollar box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Prestation</h5>
                    <p class="thumb-desc">Prestation économique</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-clock-o box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Réservation immédiate</h5>
                    <p class="thumb-desc">Réservation immédiate du transport dans la ville de destination depuis
                        l’aéroport de départ</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb"><i
                    class="fa fa-car box-icon-right round box-icon-gray animate-icon-top-to-bottom"></i>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Véhicule</h5>
                    <p class="thumb-desc">Choix de multiples véhicule pour le trajet</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>

{% include 'client/footer.html' %}

{% include 'client/scriptLoading.html' %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb1NNSLUT7vzTIezPAqKumMB7wNXa2hMg&libraries=places&callback=initAutocomplete"
        async defer></script>

<script>
    var placeSearch, autocomplete;

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('arrive_adress')),
            {
                types: ['geocode'],
                componentRestrictions: {country: "fr"}
            });
        {#            {types: ['geocode']});#}


        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        document.getElementById("destination_location").value = place.geometry.location;
        {#        for (var component in componentForm) {#}
        {#            document.getElementById(component).value = '';#}
        {#            document.getElementById(component).disabled = false;#}
        {#        }#}
        {##}
        {#        // Get each component of the address from the place details#}
        {#        // and fill the corresponding field on the form.#}
        {#        for (var i = 0; i < place.address_components.length; i++) {#}
        {#            var addressType = place.address_components[i].types[0];#}
        {#            if (componentForm[addressType]) {#}
        {#                var val = place.address_components[i][componentForm[addressType]];#}
        {#                document.getElementById(addressType).value = val;#}
        {#            }#}
        {#        }#}
    }
</script>

</div>
</body>

</html>


