<!DOCTYPE HTML>
<html class="full">

<head>
    <title>BlackLine Services | Connexion</title>

    {% load static %}

    {% include 'client/head.html' %}


</head>

<body class="full">

{% include 'client/facebook_widget.html' %}

<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">

    <div class="full-page">
        <div class="bg-holder full">
            <div class="bg-mask"></div>
            <div class="bg-img" style="background-image:url({% static "img/backgrounds/login.jpg" %});"></div>
            <div class="bg-holder-content full text-white">
                <a class="logo-holder" href="index.html">
                    <img src="{% static "img/logo-white.png" %}" alt="Image Alternative text" title="Image Title"/>
                </a>
                <div class="full-center">
                    <div class="container">
                        <div class="row row-wrap" data-gutter="60">
                            <div class="col-md-4">
                                <div class="visible-lg">
                                    <h3 class="mb15">Blackline Services</h3>
                                    <p>Lorsqu’il s’agit de voyager avec l’esprit tranquille, il suffit de faire appel à
                                        BlackLine Services, pour que votre transport soit pris en charge de l’aéroport
                                        jusqu’à votre destination finale. Ainsi nous vous offrons LA solution rêvée pour
                                        que vos déplacements se déroulent dans les meilleures conditions.</p>
                                    <p>Réservation 24 heures sur 24 et 7 jours sur 7, sur le site internet ou dans nos
                                        stands situés dans les aéroports.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h3 class="mb15">Connexion</h3>
                                <form>
                                    <div class="form-group form-group-ghost form-group-icon-left"><i
                                            class="fa fa-user input-icon input-icon-show"></i>
                                        <label>Utilisateur ou Email</label>
                                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text"/>
                                    </div>
                                    <div class="form-group form-group-ghost form-group-icon-left"><i
                                            class="fa fa-lock input-icon input-icon-show"></i>
                                        <label>Mot de Passe</label>
                                        <input class="form-control" type="password" placeholder="my secret password"/>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Se connecter"/>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <h3 class="mb15">S'inscrire</h3>
                                <form>
                                    <div class="form-group form-group-ghost form-group-icon-left"><i
                                            class="fa fa-user input-icon input-icon-show"></i>
                                        <label>Nom</label>
                                        <input class="form-control" placeholder="e.g. John Doe" type="text"/>
                                    </div>
                                    <div class="form-group form-group-ghost form-group-icon-left"><i
                                            class="fa fa-envelope input-icon input-icon-show"></i>
                                        <label>Email</label>
                                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text"/>
                                    </div>
                                    <div class="form-group form-group-ghost form-group-icon-left"><i
                                            class="fa fa-lock input-icon input-icon-show"></i>
                                        <label>Mot de Passe</label>
                                        <input class="form-control" type="password" placeholder="my secret password"/>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Inscription"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="footer-links">
                    <li><a href="/about">Acceuil</a>
                    </li>
                    <li><a href="/about">A propos</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'client/scriptLoading.html' %}
</div>
</body>

</html>


