<!DOCTYPE HTML>
<html class="full">

<head>
    {% if type == 1 %}
        <title>Aceline Services | Connexion</title>
    {% else %}
        <title>Aceline Services | S'inscrire</title>
    {% endif %}

    {% load static %}

    {% include 'client/head.html' %}


</head>

<body class="full">

{% include 'client/facebook_widget.html' %}

<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">

    <div class="full-page">
        <div class="bg-holder full">
            <div class="bg-mask"></div>
            <div class="bg-img" style="background-image:url({% static "img/backgrounds/login.jpg" %});"></div>
            <div class="bg-holder-content full text-white">
                <a class="logo-holder" href="/">
                    <img src="{% static "img/logo-white.png" %}" alt="Image Alternative text" title="Image Title"/>
                </a>
                <div class="full-center">
{#                    <div align="center">#}
{#                        {% if form.errors %}#}
{#                            <label>Erreurs !!!!</label>#}
{#                            {{ form.errors }}#}
{#                        {% endif %}#}
{#                    </div>#}

                    <div class="container">
                        <div class="row row-wrap" data-gutter="60">
                            <div class="col-md-4">
                                <div class="visible-lg">
                                    <h3 class="mb15">Aceline Services</h3>
                                    <p>Lorsqu’il s’agit de voyager avec l’esprit tranquille, il suffit de faire appel à
                                        Aceline Services, pour que votre transport soit pris en charge de l’aéroport
                                        jusqu’à votre destination finale. Ainsi nous vous offrons LA solution rêvée pour
                                        que vos déplacements se déroulent dans les meilleures conditions.</p>
                                    <p>Réservation 24 heures sur 24 et 7 jours sur 7, sur le site internet ou dans nos
                                        stands situés dans les aéroports.</p>
                                </div>
                            </div>

                            {% if type == 1 %}
                                <div class="col-md-4">
                                    <h3 class="mb15">Connexion</h3>
                                    <form action="/login/" method="post">
                                        {% csrf_token %}
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-user input-icon input-icon-show"></i>
                                            <label>Utilisateur</label>
                                            <input class="form-control" placeholder="ex: johndoe@gmail.com" type="text"
                                                   name="username"/>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-lock input-icon input-icon-show"></i>
                                            <label>Mot de Passe</label>
                                            <input class="form-control" type="password"
                                                   placeholder="Mot de passe secret"
                                                   name="password"/>
                                        </div>
                                        <p>
                                            <a href="/register">S'inscrire</a>
                                        </p>
                                        <input class="btn btn-primary" type="submit" value="Se connecter"/>
                                    </form>
                                </div>
                            {% else %}
                                <h3 class="mb15">S'inscrire</h3>
                                <form method="post">
                                    {% csrf_token %}

                                    {{ form.errors }}
                                    {#                                    gender = models.CharField(max_length=10, verbose_name="Sexe")#}
                                    {#    mail = models.EmailField(blank=True)#}
                                    {#    phone_number = PhoneNumberField(verbose_name="Téléphone")#}
                                    {#    user = models.OneToOneField(User, verbose_name="Utilisateur")#}

                                    <div class="col-md-4">
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-user input-icon input-icon-show "></i>
                                            <label>Nom d'utilisateur</label>
                                            {{ form.username.errors }}
                                            <input class="form-control" name="username"
                                                   placeholder="ex : Beau Utilisateur"
                                                   type="text" value="{{ form.username.value|default_if_none:"" }}"/>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-envelope input-icon input-icon-show"></i>
                                            <label>Email</label>
                                            <label>{{ form.mail.errors }}</label>
                                            <input class="form-control" name="mail"
                                                   placeholder="e.g. Beau@gmail.com"
                                                   type="text" value="{{ form.mail.value|default_if_none:"" }}"/>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-lock input-icon input-icon-show"></i>
                                            <label>Mot de Passe</label>
                                            <label>{{ form.password.errors }}</label>
                                            <input class="form-control" name="password" type="password"
                                                   placeholder="MotDePasse"
                                                   value="{{ form.password.value|default_if_none:"" }}"/>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-lock input-icon input-icon-show"></i>
                                            <label>Mot de Passe</label>
                                            <label>{{ form.password_bis.errors }}</label>
                                            <input class="form-control" name="password_bis" type="password"
                                                   placeholder="MotDePasse (confirmation)"/>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-user input-icon input-icon-show"></i>
                                            <label>Nom</label>
                                            <label>{{ form.first_name.errors }}</label>
                                            <input class="form-control" name="first_name" placeholder="ex : Lepic"
                                                   type="text" value="{{ form.first_name.value|default_if_none:"" }}"/>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-user input-icon input-icon-show"></i>
                                            <label>Prénom</label>
                                            <label>{{ form.last_name.errors }}</label>
                                            <input class="form-control" name="last_name" placeholder="ex : Henri"
                                                   type="text" value="{{ form.last_name.value|default_if_none:"" }}"/>
                                        </div>

                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa- input-icon input-icon-show"></i>
                                            <label>Age</label>
                                            <label>{{ form.age.errors }}</label>
                                            <input class="form-control" name="age" type="number" step="1" min="18"
                                                   max="100" placeholder="18"
                                                   value="{{ form.age.value|default_if_none:"" }}"/>
                                        </div>

                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-user input-icon input-icon-show"></i>
                                            <label>Sexe</label>
                                            <label>{{ form.gender.errors }}</label>
                                            <div class="radio-inline">
                                                <label>
                                                    <input class="i-radio" type="radio" name="gender"
                                                           value="Homme"/>Homme</label>
                                                <label>
                                                    <input class="i-radio" type="radio" name="gender"
                                                           value="Femme"/>Femme</label>
                                            </div>
                                            {#                                            <input class="form-control" name="gender" type="number" step="1" min="18"#}
                                            {#                                                   max="100"/>#}
                                        </div>

                                        <div class="form-group form-group-ghost form-group-icon-left"><i
                                                class="fa fa-phone input-icon input-icon-show"></i>
                                            <label>Teléphone</label>
                                            <label>{{ form.phone_number.errors }}</label>
                                            <input class="form-control" name="phone_number" type="tel"
                                                   placeholder="+336000000"
                                                   value="{{ form.phone_number.value|default_if_none:"" }}"/>
                                        </div>

                                        <input type="hidden" name="status" value="Mail non confirmé">


                                        <input class="btn btn-primary" type="submit" value="Inscription"/>

                                    </div>


                                </form>


                            {% endif %}

                        </div>
                    </div>
                </div>
                <ul class="footer-links">
                    <li><a href="/">Acceuil</a>
                    </li>
                    <li><a href="/about">A propos</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'client/scriptLoading.html' %}
</div>
</body>

</html>


