<!DOCTYPE html>
{% load static %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/slimmenu.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/bootstrap-timepicker.js" %}"></script>
<script src="{% static "js/nicescroll.js" %}"></script>
<script src="{% static "js/dropit.js" %}"></script>
<script src="{% static "js/ionrangeslider.js" %}"></script>
<script src="{% static "js/icheck.js" %}"></script>
<script src="{% static "js/fotorama.js" %}"></script>
{#        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXfBFzhg0-fVZcIno2kX-ZBSbqibk_-RE&v=3.exp&sensor=false"></script>#}
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXfBFzhg0-fVZcIno2kX-ZBSbqibk_-RE&v=3.exp&sensor=false"></script>#}
<script src="{% static "js/typeahead.js" %}"></script>
<script src="{% static "js/card-payment.js" %}"></script>
<script src="{% static "js/magnific.js" %}"></script>
<script src="{% static "js/owl-carousel.js" %}"></script>
<script src="{% static "js/fitvids.js" %}"></script>
<script src="{% static "js/tweet.js" %}"></script>
<script src="{% static "js/countdown.js" %}"></script>
<script src="{% static "js/gridrotator.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script src="{% static "js/moment.js" %}"></script>

<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/moment-with-locales.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>

</html>