<!DOCTYPE HTML>
<html>

<head>
    <title>Blackline Services | Acceuil client</title>


    {% include 'client/head.html' %}

</head>

<body>

{% include 'client/facebook_widget.html' %}

<div class="global-wrap">
    {% include 'client/header.html' %}

    {% load static %}

    <div class="container">
        <h1 class="page-title">Réservations</h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="user-profile-sidebar">
                    <div class="user-profile-avatar text-center">
                        <img src="{% static "img/300x300.png" %}" alt="Image Alternative text" title="AMaze"/>
                        <h5>{{ client.last_name }} {{ client.first_name }}</h5>
                        <p>Membre depuis Mai 2012</p>
                    </div>
                    <ul class="list user-profile-nav">
                        <li><a href="/user"><i class="fa fa-user"></i>Mon Compte</a>
                        </li>
                        <li><a href="/user/settings/"><i class="fa fa-cog"></i>Informations Personnelles</a>
                        </li>
                        <li><a href="/user/bookings/"><i class="fa fa-clock-o"></i>Mes
                            Réservations</a>
                        </li>
                        <li><a href="user-profile-cards.html"><i class="fa fa-credit-card"></i>Moyen de Payements</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
{#                <div class="checkbox">#}
{#                    <label>#}
{#                        <input class="i-check" type="checkbox"/>Show only current trip</label>#}
{#                </div>#}
                <table class="table table-bordered table-striped table-booking-history">
                    <thead>
                    <tr>
                        <th>Date de la Réservation</th>
                        <th>Catégorie</th>
                        <th>Trajet</th>
                        <th>Passagers</th>
                        <th>Nombre de Bagages</th>
                        <th>Vol</th>
                        <th>Etat</th>
                        <th>Annulation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.arrive_time }}</td>
                            <td>{{ booking.model_choose }}</td>
                            <td>{{ booking.airport.address }} - {{ booking.destination }}</td>
                            <td>{{ booking.passengers }}</td>
                            <td>{{ booking.luggage_number }}</td>
                            <td>{{ booking.flight }}</td>
                            <td>{{ booking.status}}</td>
                            {#                        <td class="booking-history-type"><i class="fa fa-plane"></i>#}
                            {#                            <small>flight</small>#}
                            {#                        </td>#}
                            {#                        <td class="booking-history-title">London to New York City</td>#}
                            {#                        <td>New york City</td>#}
                            {#                        <td>4/12/2014</td>#}
                            {#                        <td>4/25/2014</td>#}
                            {#                        <td>$350</td>#}
                            {#                        <td class="text-center"><i class="fa fa-check"></i>#}
                            {#                        </td>#}
                            {#                        <td class="text-center"><a class="btn btn-default btn-sm" href="#">Cancel</a>#}
                            {#                        </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="gap"></div>
    <div class="gap"></div>
    {% include 'client/footer.html' %}

    {% include 'client/scriptLoading.html' %}
</div>
</body>

</html>

