<!DOCTYPE HTML>
<html>

<head>
    <title>Aceline Services | Acceuil client</title>


    {% include 'client/head.html' %}

</head>

<body>

{% include 'client/facebook_widget.html' %}

<div class="global-wrap">
    {% include 'client/header.html' %}

    <div class="container">
        <h1 class="page-title">Mon Compte</h1>
    </div>

    {% load static %}


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="user-profile-sidebar">
                    <div class="user-profile-avatar text-center">
                        <img src="{% static "img/300x300.png" %}" alt="Image Alternative text" title="AMaze"/>
                        <h5>{{ client.last_name }} {{ client.first_name }}</h5>
                        <p>Membre depuis Mai 2012</p>
                    </div>
                    <ul class="list user-profile-nav">
                        <li><a href="/user"><i class="fa fa-user"></i>Mon Compte</a>
                        </li>
                        <li><a href="/user/settings/"><i class="fa fa-cog"></i>Informations Personnelles</a>
                        </li>
                        <li><a href="/user/bookings/"><i class="fa fa-clock-o"></i>Mes Réservations</a>
                        </li>
                        <li><a href="user-profile-cards.html"><i class="fa fa-credit-card"></i>Moyen de Payements</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <h4>Total Traveled</h4>
                <ul class="list list-inline user-profile-statictics mb30">
                    <li><i class="fa fa-dashboard user-profile-statictics-icon"></i>
                        <h5>12540</h5>
                        <p>Miles</p>
                    </li>
                    <li><i class="fa fa-globe user-profile-statictics-icon"></i>
                        <h5>2%</h5>
                        <p>World</p>
                    </li>
                    <li><i class="fa fa-building-o user-profile-statictics-icon"></i>
                        <h5>15</h5>
                        <p>Cityes</p>
                    </li>
                    <li><i class="fa fa-flag-o user-profile-statictics-icon"></i>
                        <h5>3</h5>
                        <p>Countries</p>
                    </li>
                    <li><i class="fa fa-plane user-profile-statictics-icon"></i>
                        <h5>20</h5>
                        <p>Trips</p>
                    </li>
                </ul>
                <div id="map-canvas" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>


    <div class="gap"></div>
    {% include 'client/footer.html' %}

    {% include 'client/scriptLoading.html' %}
</div>
</body>

</html>


