{% load widget_tweaks %}

{% load static %}


<div class="form-group row">
    <div class="row">
        <label class="col-lg-7 control-label text-lg-left"><input value="1"
                                                                  type="radio"
                                                                  name="formselector"
                                                                  onclick="displayForm(this)">Existant</label>

        <label class="col-lg-7 control-label text-lg-left"><input value="2"
                                                                  type="radio"
                                                                  name="formselector"
                                                                  onclick="displayForm(this)">Nouveau</label>
    </div>
</div>

<script type="text/javascript">
    function displayForm(c) {
        if (c.value == "1") {

            document.getElementById("exist_user").style.display = 'inline';
            document.getElementById("new_user").style.display = 'none';
        }
        else if (c.value == "2") {
            document.getElementById("exist_user").style.display = 'none';

            document.getElementById("new_user").style.display = 'inline';
        }
        else {
        }
    }
</script>

<div style="display:none" id="new_user" class="form-group row">
    {% for field in client_form.visible_fields %}
        <div class="form-group row fieldWrapper">
            <label class="col-lg-3 control-label text-lg-right pt-2"
                   for="inputDefault">{{ field.label }}</label>
            <div class="col-lg-6">
                {{ field.errors }}
                {% render_field field class+="form-control" %}
            </div>
        </div>
    {% endfor %}

    <br>


    {#                                    <label>Utilisateur</label>#}

    {% for field in user_form %}
        <div class="form-group row fieldWrapper">
            <label class="col-lg-3 control-label text-lg-right pt-2"
                   for="inputDefault">{{ field.label }}</label>
            <div class="col-lg-6">
                {{ field.errors }}
                {% render_field field class+="form-control" %}

            </div>
        </div>
    {% endfor %}



    <div class="gap"></div>
    <br>
    <br>
    <br>


    <br>
    <br>

</div>

<div style="display:none" id="exist_user" class="form-group row">
    {#                                        <select name="client">#}
    {#                                            {% for client in clients %}#}
    {#                                                <option>{{ client }}</option>#}
    {#                                            {% endfor %}#}
    {#                                        </select>#}
    <div class="form-group row fieldWrapper">
        <label class="col-lg-3 control-label text-lg-right pt-2">Client</label>
        <div class="col-lg-6">
            <select data-plugin-selectTwo class="form-control populate" name="client">
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
</div>

<div class="gap"></div>
<br>
<br>


{% for field in form.visible_fields %}
    {% if field.label != "Client" %}
        <div class="form-group row fieldWrapper">
            <label class="col-lg-3 control-label text-lg-right pt-2"
                   for="inputDefault">{{ field.label }}</label>
            <div class="col-lg-6">
                {#                                                <input type="text" class="form-control" id="inputDefault">#}
                {{ field.errors }}
                {#                                                {{ field }}#}
                {% render_field field class+="form-control" %}
                {#                                                <input type="{{ field.type }}" class="form-control" id="{{ field.id }}"#}
                {#                                                       value="{{ field.value }}">#}

            </div>

        </div>
    {% endif %}
{% endfor %}

{% for field in form.hidden_fields %}
    <div class="form-group row fieldWrapper">
        <div class="col-lg-6">
            {{ field.errors }}
            {{ field }}
        </div>

    </div>
{% endfor %}
<input type="hidden" name="status" value="En cours de validation">

