<!DOCTYPE html>
<html lang="en">
<div class="modal-body">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-10">
            <div class="form-group form-group-lg form-group-icon-right"><i
                    class="fa fa-map-marker input-icon"></i>
                <label>Départ</label>
                {#                                            <input class="typeahead form-control" name="start"#}
                {#                                                   placeholder="Aéroport" type="text"/>#}
                <select class="format-option form-control" name="airport">
                    {% for airport in airports %}
                        <option {% if form.airport.value is airport %}selected{% endif %}
                                value="{{ airport.id }}">{{ airport.address }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group form-group-lg form-group-icon-right"><i
                    class="fa fa-map-marker input-icon"></i>
                <label>Destination</label>
                <input id="arrive_adress" class="form-control" name="destination"
                       placeholder="Adresse, Ville, Lieux" type="text"
                       value="{{ form.destination.value|default_if_none:"" }}"/>
                <input class="hidden" name="destination_location" type="text"
                       id="destination_location" value="{{ form.destination_location.value|default_if_none:"" }}"/>

            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <input class="hidden" id="arrive_time" name="arrive_time"/>
                <div class="col-md-6">
                    <div class="form-group form-group-lg form-group-icon-right"><i
                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                        <label>Date d'arrivée</label>
                        <input class="form-control" name="date" type="date" id="datetimepicker1"
                               placeholder="ex: 25/12/2017" value="{{ form.arrive_time.value|date:"Y-m-d" }}"/>
                        {#                                            <input class="date-pick form-control" name="date" type="text"/>#}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group-lg form-group-icon-right"><i
                            class="fa fa-clock-o input-icon input-icon-highlight"></i>
                        <label>Heure</label>
                        <input class="form-control time-pick" type="text" name="time" id="time"
                               placeholder="ex 10:30" value="{{ form.arrive_time.value.time }}"/>
                        {#                        <span class="input-group-addon">#}
                        {#                            <i class="fa fa-clock-o"></i>#}
                        {#                        </span>#}
                        {#                        <input type="text" data-plugin-timepicker class="form-control"#}
                        {#                               data-plugin-options='{ "showMeridian": false }'>#}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                        <i class="fa fa-car input-icon"></i>
                        <label>Modèle</label>
                        <select class="form-control format-option" name="model_choose" id="model_option">
                            {% for car in models %}
                                <option {% if form.model_choose.value is car %}selected{% endif %}
                                        value="{{ car.id }}">{{ car }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                        <i class="fa fa-users input-icon input-icon-highlight"></i>
                        <label>Passagers</label>
                        <select class="form-control format-option" name="passengers">
                            {% for number in passengers_list %}
                                <option {% if form.passengers.value == number %}selected{% endif %}>{{ number }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                        <i class="fa fa-suitcase input-icon input-icon-highlight"></i>
                        <label>Baggages</label>
                        <select class="form-control format-option" name="luggage_number">
                            {% for number in luggage_list %}
                                <option {% if form.passengers.value == number %}selected{% endif %}>{{ number }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                        <i class="fa fa-plane input-icon input-icon-highlight"></i>
                        <label>Vol</label>
                        <input class="form-control" type="text" name="flight" placeholder="ex: BAW329"
                               value="{{ form.flight.value|default_if_none:"" }}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap">
            <br>
        </div>


        <div class="col-md-12">
            <div class="row">

                {#                {{ form.arrive_time }}#}

                {% if creation %}
                    <div class="col-md-6">
                        <div class="form-group form-group-lg form-group-select-plus form-group-icon-right">
                            <i class="fa fa-user input-icon input-icon-highlight"></i>
                            <label>Utilisateur</label>
                            <select name="client" class="form-control format-option">
                                <option>...</option>
                                {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="status" value="En cours de validation">

                {% else %}
                    <input type="hidden" name="client" value="{{ form.client.value }}">

                    <label>Status</label>
                    {{ form.status }}
                {% endif %}

            </div>
        </div>


        {#        <div class="col-md-8">#}
        {#            <div class="row">#}
        {#                <div>#}
        {#                    <label><input value="1" type="radio" name="formselector"#}
        {#                                  onclick="displayForm(this)">Utilisateur existant</label>#}
        {#                    <br>#}
        {#                    <label><input value="2" type="radio" name="formselector"#}
        {#                                  onclick="displayForm(this)">Nouveau utilisateur</label>#}
        {#                </div>#}
        {##}
        {##}
        {#                <script type="text/javascript">#}
        {#                    function displayForm(c) {#}
        {#                        if (c.value == "1") {#}
        {##}
        {#                            document.getElementById("exist_user").style.display = 'inline';#}
        {#                            document.getElementById("new_user").style.display = 'none';#}
        {#                        }#}
        {#                        else if (c.value == "2") {#}
        {#                            document.getElementById("exist_user").style.display = 'none';#}
        {##}
        {#                            document.getElementById("new_user").style.display = 'inline';#}
        {#                        }#}
        {#                        else {#}
        {#                        }#}
        {#                    }#}
        {#                </script>#}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#        <div class="col-md-8">#}
        {#            <div class="row">#}
        {#                <div style="display:none" id="new_user">#}
        {#                    <label>Renseigner les information du nouveau client</label>#}
        {#                    <br>#}
        {#                    <br>#}
        {#                    <table>#}
        {#                        {{ form_client.as_table }}#}
        {#                    </table>#}
        {#                </div>#}
        {#                <div style="display:none" id="exist_user">#}
        {#                    <label>Choisissez le client :</label>#}
        {#                    <br>#}
        {#                    <br>#}
        {#                    <select name="client">#}
        {#                        {% for client in clients %}#}
        {#                            <option>{{ client }}</option>#}
        {#                        {% endfor %}#}
        {#                    </select>#}
        {#                </div>#}
        {##}
        {#            </div>#}
        {#        </div>#}

        {#        <label>Client : </label>#}
        {#        <select name="client">#}
        {#            {% for client in clients %}#}
        {#                <option>{{ client }}</option>#}
        {#            {% endfor %}#}
        {#        </select>#}

    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb1NNSLUT7vzTIezPAqKumMB7wNXa2hMg&libraries=places&callback=initAutocomplete"
        async defer></script>

<script>
    var placeSearch, autocomplete;

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('arrive_adress')),
            {
                types: ['geocode'],
                componentRestrictions: {country: "fr"}
            });
        {#            {types: ['geocode']});#}


        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        document.getElementById("destination_location").value = place.geometry.location;
        {#        for (var component in componentForm) {#}
        {#            document.getElementById(component).value = '';#}
        {#            document.getElementById(component).disabled = false;#}
        {#        }#}
        {##}
        {#        // Get each component of the address from the place details#}
        {#        // and fill the corresponding field on the form.#}
        {#        for (var i = 0; i < place.address_components.length; i++) {#}
        {#            var addressType = place.address_components[i].types[0];#}
        {#            if (componentForm[addressType]) {#}
        {#                var val = place.address_components[i][componentForm[addressType]];#}
        {#                document.getElementById(addressType).value = val;#}
        {#            }#}
        {#        }#}
    }
</script>
</html>