<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Clients | Blackline Services</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    {% load static %}

    {% include 'style.html' %}

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static "vendor/select2/css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/select2-bootstrap-theme/select2-bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/datatables/media/css/dataTables.bootstrap4.css" %}"/>

</head>
<body>
<section class="body">

    {% include "header.html" %}

    <div class="inner-wrapper">

        {% include "navigation_bar.html" with active=3 sub_active=1 %}

        <section role="main" class="content-body">

            {% include 'head_line.html' with Name="Clients" %}

            <!-- start: page -->
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Clients</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="datatable-ajax"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/clients/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
{#                    <button class="btn btn-success" data-toggle="modal" data-target="#client_creation"> Ajouter</button>#}
{##}
{#                    <div class="modal fade" id="client_creation" role="dialog" aria-labelledby="client_creation">#}
{#                        <div class="modal-dialog" role="document">#}
{##}
{#                            <div class="modal-header">#}
{#                                <h5 class="modal-title" id="id01_label">Réservation</h5>#}
{#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                    <span aria-hidden="true">&times;</span>#}
{#                                </button>#}
{#                            </div>#}
{##}
{#                            <form name="booking-form" method="post">#}
{#                                <div class="modal-body">#}
{#                                    {% csrf_token %}#}
{#                                    {{ form.as_table }}#}
{#                                </div>#}
{##}
{#                                <div class="modal-footer">#}
{#                                    <button type="submit" class="btn btn-primary">Réserver</button>#}
{#                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler#}
{#                                    </button>#}
{#                                </div>#}
{#                            </form>#}
{##}
{#                        </div>#}
{#                    </div>#}


                </div>
            </section>


            <!-- end: page -->
        </section>
    </div>

</section>


{% include "base_script.html" %}

<!-- Specific Page Vendor -->
<script src="{% static "vendor/select2/js/select2.js" %}"></script>
<script src="{% static "vendor/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "vendor/datatables/media/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "vendor/pnotify/pnotify.custom.js" %}"></script>


<!-- Examples -->
<script src="{% static "js/client_manager_datatable.js" %}"></script>
{#<script src="{% static "js/examples/examples.modals.js" %}"></script>#}


</body>
</html>