<!DOCTYPE HTML>
<html>

<head>
    <title>Aceline Services | Inscription</title>

    {% include 'client/head.html' %}

</head>

<body>

{% include 'client/facebook_widget.html' %}

<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">

    {% include 'client/header.html'%}

    {% include 'client/scriptLoading.html' %}


    <div class="container">
        <h1 class="page-title">Inscription</h1>
    </div>


    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-7">
                <p>Un mail de confirmation vous à été envoyé. Activer votre compte pour accéder à nos service.</p>
                <div class="gap"></div>
                <a href="/">Acceuil</a>

            </div>
        </div>
    </div>
    <div class="gap"></div>


    {% include 'client/footer.html' %}


</div>
</body>

</html>


