<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Réservation | Aceline Services</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    {% load static %}

    {% include 'admin_bis/style.html' %}

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static "static_admin/vendor/select2/css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "static_admin/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "static_admin/vendor/datatables/media/css/dataTables.bootstrap4.css" %}"/>

</head>
<body>
<section class="body">

    {% include "admin_bis/header.html"  with redirect='/operator/'%}

    <div class="inner-wrapper">

        {% include "operator/navigation_bar.html" with active=4 %}

        <section role="main" class="content-body">

            {% include 'admin_bis/../common/head_line.html' with Name="Réservation" redirect='/operator/'%}

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#test">Home</a></li>
                    <li><a data-toggle="tab" href="#toto">Menu 1</a></li>
                    <li><a data-toggle="tab" href="#bobo">Menu 2</a></li>
                    <li><a data-toggle="tab" href="#yoyo">Menu 3</a></li>
                </ul>
                <div class="tab-content">
                    <div id="test" class="tab-pane active">
                        <section class="card card mb-4">
                            <header class="card-header">
                                <div class="card-actions">
                                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                </div>

                                <h2 class="card-title">Réservations Commerciaux</h2>
                            </header>
                            <div class="card-body col-md-12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Commercial</th>
                                        <th>Aéroport</th>
                                        <th>Destination</th>
                                        <th>Date de réservation</th>
                                        <th>Client</th>
                                        <th>Date d'arrivée</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                    <div id="toto" class="tab-pane fade">wesh ma gueule</div>
                </div>
        </section>
    </div>
</section>

            {% comment %}<div id="tabs">
                <ul class="nav nav-tabs" id="prodTabs">
                    <li class="active"><a href="#tab_basic">Basic</a></li>
                    <li><a href="#tab_images" data-url="?action=images">Images</a></li>
                    <li><a href="#tab_videos" data-url="?action=videos">Videos</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab_basic" class="tab-pane active">yoyoyoyoyoyo</div>
                    <div id="tab_images" class="tab-pane active"></div>
                    <div id="tab_videos" class="tab-pane active"></div>
                </div>
            </div>{% endcomment %}


{% include "admin_bis/base_script.html" %}

<!-- Specific Page Vendor -->
<script src="{% static "static_admin/vendor/select2/js/select2.js" %}"></script>
<script src="{% static "static_admin/vendor/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "static_admin/vendor/datatables/media/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "static_admin/vendor/pnotify/pnotify.custom.js" %}"></script>


<!-- Examples -->
<script src="{% static "static_admin/js/datatable/booking_commercial_partener_manager_datatable.js" %}"></script>
<script src="{% static "static_admin/js/datatable/booking_partener_own_manager_datatable.js" %}"></script>

{#<script src="{% static "static_admin/js/examples/examples.modals.js" %}"></script>#}

</body>
</html>