<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Réservation | Aceline Services</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    {% load static %}

    {% include 'admin_bis/style.html' %}

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static "static_admin/vendor/select2/css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "static_admin/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "static_admin/vendor/datatables/media/css/dataTables.bootstrap4.css" %}"/>

</head>
<body>
<section class="body">

    {% include "admin_bis/header.html" with role="Administrateur"  redirect='/admin/'%}

    <div class="inner-wrapper">

        {% include "admin_bis/navigation_bar.html" with active=4 %}

        <section role="main" class="content-body">

            {% include 'admin_bis/../common/head_line.html' with Name="Réservation" %}


            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Aéroports</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="airports"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/airports/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Adresse</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- start: page -->
            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Réservations Clients</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="booking_table"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/bookings/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Aéroport</th>
                            <th>Destination</th>
                            <th>Date de réservation</th>
                            <th>Client</th>
                            <th>Date d'arrivée</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>


            <!-- start: page -->
            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Réservations Commerciaux</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="booking_commercial_table"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/bookings-commercials/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Commercial</th>
                            <th>Aéroport</th>
                            <th>Destination</th>
                            <th>Date de réservation</th>
                            <th>Client</th>
                            <th>Date d'arrivée</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>



            <!-- start: page -->
            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Réservations Partenaires</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="booking_partener_table"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/bookings-parteners/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Partenaire</th>
                            <th>Aéroport</th>
                            <th>Destination</th>
                            <th>Date de réservation</th>
                            <th>Client</th>
                            <th>Date d'arrivée</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>

    </div>

</section>


{% include "admin_bis/base_script.html" %}

<!-- Specific Page Vendor -->
<script src="{% static "static_admin/vendor/select2/js/select2.js" %}"></script>
<script src="{% static "static_admin/vendor/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "static_admin/vendor/datatables/media/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "static_admin/vendor/pnotify/pnotify.custom.js" %}"></script>


<!-- Examples -->
<script src="{% static "static_admin/js/datatable/booking_manager_datatable.js" %}"></script>
<script src="{% static "static_admin/js/datatable/airport_manager_datatable.js" %}"></script>
<script src="{% static "static_admin/js/datatable/booking_commercial_manager_datatable.js" %}"></script>
<script src="{% static "static_admin/js/datatable/booking_partener_manager_datatable.js" %}"></script>

{#<script src="{% static "static_admin/js/examples/examples.modals.js" %}"></script>#}


</body>
</html>