<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    {% load static %}
    {% include 'admin_bis/style.html' %}

</head>
<body>
<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo float-left">
            <img src="{% static "img/logo.png" %}" height="54" alt="Porto Admin"/>
        </a>

        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-right">
                <h2 class="title text-uppercase font-weight-bold m-0"><i class="fa fa-user mr-1"></i> Connexion</h2>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label>Nom d'Utilisateur</label>
                        <div class="input-group input-group-icon">
                            <input name="username" type="text" class="form-control form-control-lg"/>
                            <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="clearfix">
                            <label class="float-left">Mot De Passe</label>
{#                            <a href="pages-recover-password.html" class="float-right">Lost Password?</a>#}
                        </div>
                        <div class="input-group input-group-icon">
                            <input name="password" type="password" class="form-control form-control-lg"/>
                            <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
                        </div>
                    </div>

                    <div class="row">
{#                        <div class="col-sm-8">#}
{#                            <div class="checkbox-custom checkbox-default">#}
{#                                <input id="RememberMe" name="rememberme" type="checkbox"/>#}
{#                                <label for="RememberMe">Remember Me</label>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-sm-4 text-right">
                            <button type="submit" class="btn btn-primary mt-2">Se connecter</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2017. All Rights Reserved.</p>
    </div>
</section>
<!-- end: page -->

<!-- Vendor -->
<script src="{% static "static_admin/vendor/jquery/jquery.js" %}"></script>
<script src="{% static "static_admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
<script src="{% static "static_admin/vendor/popper/umd/popper.min.js" %}"></script>
<script src="{% static "static_admin/vendor/bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "static_admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "static_admin/vendor/common/common.js" %}"></script>
<script src="{% static "static_admin/vendor/nanoscroller/nanoscroller.js" %}"></script>
<script src="{% static "static_admin/vendor/magnific-popup/jquery.magnific-popup.js" %}"></script>
<script src="{% static "static_admin/vendor/jquery-placeholder/jquery-placeholder.js" %}"></script>

{% include "admin_bis/base_script.html" %}
</body>
</html>