<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>{{ title }} | Aceline Services</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    {% load static %}

    {% load widget_tweaks %}

    {% include 'admin_bis/style.html' %}

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static "static_admin/vendor/select2/css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "static_admin/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "static_admin/vendor/datatables/media/css/dataTables.bootstrap4.css" %}"/>

</head>
<body>
<section class="body">

    {% include "admin_bis/header.html" with role="Administrateur" redirect='/admin/' %}

    <div class="inner-wrapper">

        {% include "admin_bis/navigation_bar.html" with active=active sub_active=sub_active %}

        <section role="main" class="content-body">

            {% include 'admin_bis/../common/head_line.html' with Name=title %}

            <!-- start: page -->
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">{{ title }}</h2>
                </header>
                <form method="post" {% if file %}enctype="multipart/form-data"{% endif %}>
                    {% csrf_token %}
                    <div class="card-body col-md-12">
                        {#                        {{ form.address }}#}
                        {#                        <table align="center">#}
                        {#                            {{ form.as_table }}#}
                        {##}
                        {#                        </table>#}
                        <div>

                            {% if title == "Aéroports" %}
                                <input id="address" class="form-control" name="address"
                                       placeholder="Adresse de l'aéroport" type="text" value="{{ form.address.value|default_if_none:"" }}"/>
                                <input id="location" class="form-control" name="location"
                                       placeholder="location de l'aéroport" type="text" value="{{ form.location.value|default_if_none:"" }}" readonly/>
                            {% else %}
                                {{ form.as_p }}
                                {{ form.media }}
                            {% endif %}

{#                                                        {{ form.as_p }}#}
{% comment %}WII                            {% for field in form.visible_fields %}
                                <div class="form-group row fieldWrapper {% if field.errors %}has-danger{% endif %}">
                                    <label class="col-lg-3 control-label text-lg-right pt-2"
                                           for="inputDefault">{{ field.label }}</label>
                                    <div class="col-lg-6">
                                        {{ field.errors }}
                                        {% render_field field class+="form-control" %}
                                    </div>
                                </div>
                            {% endfor %}
                            {{ form.media }}{% endcomment %}

                        </div>
                        {#                        <div class="card-body">#}
                        {#                            <form class="form-horizontal form-bordered" method="get">#}
                        {#                                <div class="form-group row">#}
                        {#                                    <div class="col-lg-6">#}
                        {#                                        <label class="col-lg-3 control-label text-lg-right pt-2">Nom</label>#}
                        {#                                        <input class="form-control mb-3" type="text"#}
                        {#                                               placeholder="Nom">#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </form>#}
                        {#                        </div>#}

                    </div>
                    <div class="card-footer">
                        {% if type == 2 %}
                            {#                            {{ form_user.as_p }}#}
                            <button type="submit" class="btn btn-success    ">Créer</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        {% endif %}
                        <a class="btn btn-secondary"
                           href="{% if direct == 2 %}/admin/bookings/{% elif direct == 3 %}/admin/cars/{% else %}/admin/manager/{% endif %}">Annuler</a>
                    </div>
                </form>

            </section>


            <!-- end: page -->
        </section>
    </div>

</section>


{% include "admin_bis/base_script.html" %}

<!-- Specific Page Vendor -->
<script src="{% static "static_admin/vendor/select2/js/select2.js" %}"></script>
<script src="{% static "static_admin/vendor/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "static_admin/vendor/datatables/media/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "static_admin/vendor/pnotify/pnotify.custom.js" %}"></script>


<!-- Examples -->
{#<script src="{% static "static_admin/js/datatable/client_manager_datatable.js" %}"></script>#}
{#<script src="{% static "static_admin/js/examples/examples.modal=s.js" %}"></script>#}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb1NNSLUT7vzTIezPAqKumMB7wNXa2hMg&libraries=places&callback=AirportAutocomplete"
        async defer></script>

<script>
var placeSearch, autocomplete;

    function AirportAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('address')),
            {
                types: ["geocode"],
                componentRestrictions: {country: "fr"}
            });
        {#            {types: ['geocode']});#}


        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

     function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        var placeLocation = String(place.geometry.location);
        placeLocation = placeLocation.replace('(', '').replace(')', '');
        document.getElementById("location").value = placeLocation;
    }
</script>


<script>

</script>

</body>
</html>