<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Gestion | Blackline Services</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    {% load static %}

    {% include 'admin_bis/style.html' %}

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static "vendor/select2/css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/select2-bootstrap-theme/select2-bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/datatables/media/css/dataTables.bootstrap4.css" %}"/>

</head>
<body>
<section class="body">

    {% include "admin_bis/header.html" %}

    <div class="inner-wrapper">

        {% include "admin_bis/navigation_bar.html" with active=3 %}

        <section role="main" class="content-body">

            {% include 'admin_bis/head_line.html' with Name="Gestion" %}

            <!-- start: page -->
            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Clients</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="datatable-ajax"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/clients/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="/admin/client/create">Ajouter</a>
                </div>
            </section>


            <!-- start: page -->
            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Chauffeurs</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="driver_table"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/drivers/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="/admin/driver/create">Ajouter</a>
                </div>
            </section>

            <!-- end: page -->


            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Commerciaux</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="commercial_table"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/commercials/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="/admin/commercial/create">Ajouter</a>
                </div>

            </section>


            <section class="card card mb-4 card-collapsed">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        {#                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>#}
                    </div>

                    <h2 class="card-title">Partenaires Commerciaux</h2>
                </header>
                <div class="card-body col-md-12">
                    <table class="table table-bordered table-striped" id="partener_table"
                            {#                           data-url="{% static "ajax/ajax-datatables-sample.json" %}">#}
                           data-url="/db/parteners/" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="/admin/partener/create">Ajouter</a>
                </div>
            </section>

        </section>
    </div>

</section>


{% include "admin_bis/base_script.html" %}

<!-- Specific Page Vendor -->
<script src="{% static "vendor/select2/js/select2.js" %}"></script>
<script src="{% static "vendor/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "vendor/datatables/media/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "vendor/pnotify/pnotify.custom.js" %}"></script>


<!-- Examples -->
<script src="{% static "js/datatable/client_manager_datatable.js" %}"></script>
<script src="{% static "js/datatable/driver_manager_datatable.js" %}"></script>
<script src="{% static "js/datatable/commercial_manager_datatable.js" %}"></script>
<script src="{% static "js/datatable/partener_manager_datatable.js" %}"></script>
{#<script src="{% static "js/examples/examples.modals.js" %}"></script>#}


</body>
</html>